#TTTBoard {
    width: 45vw;
    height: 45vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 64px;
}

#TTTBoard > .square {
    border: 2px solid black;
}

#TTTBoard > .square.X {
    background-image: url("../icons/X.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#TTTBoard > .square.O {
    background-image: url("../icons/O.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#TTTBoard > .square:nth-child(3n - 2) {
    border-left: 0;
}

#TTTBoard > .square:nth-child(3n) {
    border-right: 0;
}

#TTTBoard > .square:nth-child(n + 7) {
    border-bottom: 0;
}

#TTTBoard > .square:nth-child(-n + 3) {
    border-top: 0;
}

