.TTTBoardContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#TTTWinner {
    display: flex;
    justify-content: center;
    align-items: center;
}

#TTTWinner > .playerIcon {
    width: 80px;
    height: 80px;
}

#TTTWinner > .playerIcon.X {
    background-image: url("../icons/X.svg");
}

#TTTWinner > .playerIcon.O {
    background-image: url("../icons/O.svg");
}

#TTTWinner > .TTTWinnerText {
    font-size: 64px;
    font-family: 'Courier New', Courier, monospace;
}

#TTTBoard {
    width: 45vw;
    height: 45vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 64px;
}

#TTTBoard > .square {
    border: 2px solid black;
}

#TTTBoard > .square.X {
    background-image: url("../icons/X.svg");
}

#TTTBoard > .square.O {
    background-image: url("../icons/O.svg");
}

#TTTBoard > .square:nth-child(3n - 2) {
    border-left: 0;
}

#TTTBoard > .square:nth-child(3n) {
    border-right: 0;
}

#TTTBoard > .square:nth-child(n + 7) {
    border-bottom: 0;
}

#TTTBoard > .square:nth-child(-n + 3) {
    border-top: 0;
}